/* jQuery Countdown styles 2.0.0. */
/*
.is-countdown {
	border: 1px solid #ccc;
	background-color: #eee;
}
*/

#launch-container {
  height: 180px;
}
#symbolia_ready_countdown {
  height: 70px;
}

.full-witdh {
  width: 98%;
}

.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	text-align: center;
}
.countdown-amount {
  font-size: 2em;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

.large-font {
  font-size: 125%;
}
.card .large-card-title {
  width: 100%;
  font-size:30px;
  font-weight: 400;
}

.card .large-card-title .card-subtitle{
  margin-top: 13px;
  float: right;
  font-size: 18px;
  font-weight: 200;
}
.card-content ul li {
  margin-bottom: 10px;
}

.brand-logo .brand-logo-img {
  height: 54px;
  margin: 5px;
}

nav ul a {
  color: black;
}

.signup-message-field{
  height: 40px;
  font-size: 25px;
}
